<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
	     <checker
	           class="net.omnialabs.cdt.codan.checkers.ClassMemberAccessChecker"
	           id="org.eclipse.cdt.codan.checkers.ClassMemberAccessChecker"
	           name="Member Access Checker">
	        <problem
	              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
	              defaultEnabled="false"
	              defaultSeverity="Error"
	              description="Member Access Problem"
	              id="org.eclipse.cdt.codan.internal.checkers.ClassMemberAccessChecker"
	              messagePattern="{0}"
	              name="Member Access Problem">
	        </problem>
	     </checker>
	     <checker
	           class="net.omnialabs.cdt.codan.checkers.MemberUsageChecker"
	           id="org.eclipse.cdt.codan.checkers.MemberUsageChecker"
	           name="Member Usage Problem">
	        <problem
	              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
	              defaultEnabled="false"
	              defaultSeverity="Warning"
	              description="Field never used"
	              id="org.eclipse.cdt.codan.internal.checkers.MethodUsageProblem"
	              messagePattern="The method {0} from the type {1} is never used locally"
	              name="Field never used">
	        </problem>
	        <problem
	              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
	              defaultEnabled="false"
	              defaultSeverity="Warning"
	              description="Method never used"
	              id="org.eclipse.cdt.codan.internal.checkers.FieldUsageProblem"
	              messagePattern="The field {0} from the type {1} is never read locally"
	              name="Method never used">
	        </problem>
	     </checker>
	     <checker
	           class="net.omnialabs.cdt.codan.checkers.LocalVariableUsageChecker"
	           id="org.eclipse.cdt.codan.checkers.LocalVariableUsageChecke"
	           name="Local Variable Usage Problem">
	        <problem
	              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
	              defaultEnabled="false"
	              defaultSeverity="Warning"
	              description="Local Variable Usage Problem"
	              id="org.eclipse.cdt.codan.internal.checkers.LocalVariableUsageProblem"
	              messagePattern="The local variable {0} is never read"
	              name="Local variable never read">
	        </problem>
	     </checker>
	     <checker
            class="net.omnialabs.cdt.codan.checkers.ReturnParentheses"
            id="codantest.return.parentheses"
            name="Return with parentheses">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               id="codantest.returnparentheses"
               messagePattern="Missing parentheses in return statement"
               name="Return with parentheses">
         </problem>
      </checker>
   </extension>

</plugin>
